DemoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.gemdale.axis.generate.proxy" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:com.gemdale.axis.generate.proxy" xmlns:intf="urn:com.gemdale.axis.generate.proxy" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="getDescRequest">

   </wsdl:message>

   <wsdl:message name="getNameResponse">

      <wsdl:part name="getNameReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="setNameRequest">

      <wsdl:part name="name" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="setNameResponse">

   </wsdl:message>

   <wsdl:message name="getNameRequest">

   </wsdl:message>

   <wsdl:message name="getDescResponse">

      <wsdl:part name="getDescReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="DemoService">

      <wsdl:operation name="getDesc">

         <wsdl:input message="impl:getDescRequest" name="getDescRequest"/>

         <wsdl:output message="impl:getDescResponse" name="getDescResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getName">

         <wsdl:input message="impl:getNameRequest" name="getNameRequest"/>

         <wsdl:output message="impl:getNameResponse" name="getNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setName" parameterOrder="name">

         <wsdl:input message="impl:setNameRequest" name="setNameRequest"/>

         <wsdl:output message="impl:setNameResponse" name="setNameResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DemoServiceSoapBinding" type="impl:DemoService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getDesc">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDescRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:com.gemdale.axis.generate.proxy" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDescResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:com.gemdale.axis.generate.proxy" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:com.gemdale.axis.generate.proxy" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:com.gemdale.axis.generate.proxy" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:com.gemdale.axis.generate.proxy" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:com.gemdale.axis.generate.proxy" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DemoServiceService">

      <wsdl:port binding="impl:DemoServiceSoapBinding" name="DemoService">

         <wsdlsoap:address location="http://localhost:8080/axis/services/DemoService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
