TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.gemdale.axis.generate.proxy" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:com.gemdale.axis.generate.proxy" xmlns:intf="urn:com.gemdale.axis.generate.proxy" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="descRequest">

   </wsdl:message>

   <wsdl:message name="descResponse">

      <wsdl:part name="descReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="setDescResponse">

      <wsdl:part name="setDescReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="setDescRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="TestService">

      <wsdl:operation name="desc">

         <wsdl:input message="impl:descRequest" name="descRequest"/>

         <wsdl:output message="impl:descResponse" name="descResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setDesc" parameterOrder="in0">

         <wsdl:input message="impl:setDescRequest" name="setDescRequest"/>

         <wsdl:output message="impl:setDescResponse" name="setDescResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestServiceSoapBinding" type="impl:TestService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="desc">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="descRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:com.gemdale.axis.generate.proxy" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="descResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:com.gemdale.axis.generate.proxy" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setDesc">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setDescRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:com.gemdale.axis.generate.proxy" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setDescResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:com.gemdale.axis.generate.proxy" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestServiceService">

      <wsdl:port binding="impl:TestServiceSoapBinding" name="TestService">

         <wsdlsoap:address location="http://localhost:8080/axis/services/TestService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
